@import url(../css/components/component.css);

.card-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    /* border: 1px solid rgb(189, 248, 194); */
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.background-photo{
    background-image: url(../images/goute-eau.avif);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-image{
    width: 300px;
    border-radius: 8px;
    opacity: 1;
}

.nav{
    position: absolute;
    top: 0;
}

.landing-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-text{
    padding: 15px;
    height:100%;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.359);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
}

.container-page{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(255, 255, 255, 0.359);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0;
}

.container-experiences{
    /* max-height: 85vh; */
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.359);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0;
}

.title{
    font-size: 70px;
    padding: 15px;
}

.card-item{
    display: flex;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    font-size: 22px;
    position: relative;
}

.card-item-organisme{
    display: none;
}

.little-circle{
    margin-right: 25px;
}

.card-item-diplome, .card-item-text{
    font-weight: 600;
    padding: 10px;
}
