body{
  background-color: #E1F0DA;
  font-family: "Playwrite GB S", cursive;
}

.container{
  width: 800px;
  background-color: #E1F0DA;
  font-family: "Playwrite GB S", cursive;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  /* padding: 100px; */
  /* align-items: center; */
  overflow: hidden;
  border-radius: 8px;
  /* border: 1px solid; */
  margin:0 auto;
}

/* div {
  background-color: #E1F0DA;
  border-radius: 8px;
  border: 1px;
  margin: 100px;
} */

img {
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 150px;
  width: 150px;
}

.rectangle-arrondi-bordure {
  border: 1px solid #99BC85;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

.rectangle-arrondi{
  padding: 30px;
}

/* .half-row {
  display: inline-block;
} */
.list-container{
  width: 100%;
  height: 100px;
  background-color: #E1F0DA;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}

.list-container li {
  position: absolute;
  height: 100%;
  top: 0;
}

.first-li {
  left: 50px;
  /* text-align: center; */
}

.second-li {
  right: 50px;
  /* text-align: center */
}

ul {
  list-style: none;
}

.list-inline {
  margin: 400px auto 0;
  display: inline;
  /* padding: 0px 20px; */
}

.list-inline > li {
  display: inline;
  /* padding: 0px 20px; */
}

.align-center{
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
