@import url(./components/component.css);
@import url(./components/logos.css);
@import url(./components/card.css);
@import url(./pages/home.css);
@import url(./components/icons.css);
@import url(./pages/contact.css);

body {
    background-image: url(../images/photos/pyrenees.jpg);
    /* background: linear-gradient(#e66465, #9198e5); */
    background-size: cover;
}

p{
    font-family: "Faculty Glyphic", sans-serif;
}

.title {
    font-size: 60px;
    padding: 15px;
    color: rgb(54, 0, 105);
    font-family: "Faculty Glyphic", sans-serif;
}